{{> error}}
<p class="display-4 text-white text-center pt-5 pb-5"> Ultimas reseñas creadas por los usuarios</p>
<div class="container pt-4">
    <div class="row">
        {{#each allReviews}}
        <div class="col-sm-4 pb-5">
            <div class="card bg-transparent border border-primary">
                <img class="card-img-top" src="{{games.image}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-white">{{title}}</h4>
                    <div class="d-flex justify-content-start">
                        <div class="d-flex justify-content-start pt-1 pl-1">
                            <img class="mr-2 rounded-circle " src="{{users.avatar}}" srcset="" width="40px"
                                height="40px"></iimg>
                        </div>
                        <div class="col-sm-11" style="height: 100%;">
                            <a class="" href="/user/profile/{{users.id}}"> {{users.name}}
                                {{users.surname}}</a>
                            <div class="d-flex justify-content-start pb-3">
                                <a class="text-muted" href="/review/create"> {{games.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <small class="text-dark">Creado hace {{convertUntilNow createdAt}}</small>
                </div>
                <div class="d-flex justify-content-center pb-3">
                    <button onClick="" class="btn btn-outline-primary mt-3 pr-3">Ver reseña ></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>