{{#if account}}
<title>{{account.nickname}}</title>
<div style="margin-bottom: 10%;">
  <div class="row no-gutters" style="margin-top: 5%;">

    <div class="col-md-4">
      <img src="{{account.avatar}}" class="card-img" alt="wow">
    </div>

    <div class="col-md-8">
      <div class="card-body" style="height: 100%;">
        <h2 class="text-white">{{account.name}} {{account.surname}}</h2>
        <p class="card-text"><small class="text-muted">#{{account.nickname}}</small></p>
        <div style="height:70%">
          <p class="text-white">{{account.description}}</p>
        </div>
        <p class="card-text"><small class="text-muted">Registrado hace {{convertUntilNow account.createdAt}}</small></p>
      </div>
    </div>

  </div>
</div>

{{#if accountReviews}}
<div class="container">
  <h3 class="text-white">Reseñas aportadas en la comunidad</h3>
</div>
{{else}}

<div class="d-flex justify-content-center align-items">
  <h3 class="text-white display-5 pr-3">El usuario no ha hecho ninguna reseña todavia</h3>
</div>
{{/if}}

<div class="container pt-5">
  <div class="row">
    {{#each accountReviews}}
    <div class="col-sm-4 pb-5">
      <div class="card bg-transparent">
        <img class="card-img-top border border-primary" src="{{games.image}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-white">{{title}}</h4>
          <div class="d-flex justify-content-start pb-3">
            <a class="text-muted pr-1">Juego: </a> <a class="" href="/review/create"> {{games.name}}</a>
          </div>
          <p class="card-text text-muted">{{description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-dark">Creado hace {{convertUntilNow createdAt}}</small>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-outline-primary mr-3" type="button">Ver reseña ></button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{/if}}